@use '../abstracts/' as a;

.spaces {
  
  &__card{
    background-color: var(--color-white);
    box-shadow: 0 4px 4px rgba(31, 31, 32, 0.2);
    
    &__img{
      border-radius: 8px 8px 0px 0px;
      max-height: 400px !important;
      width: 100%;
      height: 100%;
      object-fit: cover;
      position: absolute;
      top: 0;
      left: 0;

      @include a.breakpoint(md) {
        border-radius: 8px 0px 0px 8px !important;
      }
      
      &--container{
        position: relative;
        min-height: 200px;
      }

    }
    div {

      img {
        border-radius: 8px 8px 0px 0px;
        max-height: 200px;
        object-fit: cover;
      }
      
    }
  
  }



}

.single-space {
  &__img--container {
    max-height: 500px;
    overflow: hidden;
    display: flex;
    align-items: center;

    img {
      object-fit: cover;
    }
  }
}