@use '../abstracts' as a;

// Generate display classes
$displays: (
  block,
  inline-block,
  flex,
  inline-flex,
  grid,
  none,
);

// For each item
@each $name in $displays {
  .d-#{$name} {
    display: #{$name};
  }
}

// For each breakpoint
@each $breakpoint, $size in a.$breakpoints {
  @include a.breakpoint($breakpoint) {
    @each $name in $displays {
      .bp-#{$breakpoint}:d-#{$name} {
        display: #{$name};
      }
    }
  }
}

// Generate position classes
$positions: (
  static,
  relative,
  absolute,
  fixed,
  sticky
);

// For each item
@each $name in $positions {
  .p-#{$name} {
    position: #{$name};
  }
}

// For each breakpoint
@each $breakpoint, $size in a.$breakpoints {
  @include a.breakpoint($breakpoint) {
    @each $name in $positions {
      .bp-#{$breakpoint}:position-#{$name} {
        position: #{$name};
      }
    }
  }
}


// Generate gaps
$gaps: (
  0: 0,
  xs: 0.25rem,
  sm: 0.5rem,
  md: 0.75rem,
  lg: 1rem,
  xl: 1.25rem,
);

// For each item
@each $size, $gap in a.$spacing {
  .gap-#{$size} {
    gap: #{$gap};
  }
  .gap-x-#{$size} {
    column-gap: #{$gap};
  }
  .gap-y-#{$size} {
    row-gap: #{$gap};
  }
}

// For each breakpoint
@each $breakpoint, $size in a.$breakpoints {
  @include a.breakpoint($breakpoint) {
    @each $size, $gap in $gaps {
      .bp-#{$breakpoint}:gap-#{$size} {
        gap: #{$gap};
      }
      .bp-#{$breakpoint}:gap-x-#{$size} {
        column-gap: #{$gap};
      }
      .bp-#{$breakpoint}:gap-y-#{$size} {
        row-gap: #{$gap};
      }
    }
  }
}


// Generate justify-content classes
$justify-content: (
  start,
  flex-start,
  end,
  flex-end,
  center,
  space-between,
  space-around,
  space-evenly,
);

// For each item
@each $value in $justify-content {
  .justify-content-#{$value} {
    justify-content: #{$value};
  }
}

// For each breakpoint
@each $breakpoint, $size in a.$breakpoints {
  @include a.breakpoint($breakpoint) {
    @each $value in $justify-content {
      .bp-#{$breakpoint}:justify-content-#{$value} {
        justify-content: #{$value};
      }
    }
  }
}

// Generate justify-item classes
$justify-items: (
  center,
  start,
  end,
  stretch
);

// For each item
@each $value in $justify-items {
  .justify-items-#{$value} {
    justify-items: #{$value};
  }
}

// For each breakpoint
@each $breakpoint, $size in a.$breakpoints {
  @include a.breakpoint($breakpoint) {
    @each $value in $justify-items {
      .bp-#{$breakpoint}:justify-items-#{$value} {
        justify-items: #{$value};
      }
    }
  }
}

// Align-content classes
$align-content: (
  start,
  end,
  center,
  space-between,
  space-around,
  space-evenly,
  stretch
);

// For each item
@each $value in $align-content{
  .align-content-#{$value} {
    align-content: #{$value};
  }
}

// For each breakpoint
@each $breakpoint, $size in a.$breakpoints {
  @include a.breakpoint($breakpoint) {
    @each $value in $align-content {
      .bp-#{$breakpoint}:align-content-#{$value} {
        align-content: #{$value};
      }
    }
  }
}

// Generate align-items classes
$align-items: (
  start,
  flex-start,
  flex-end,
  end,
  center,
  baseline,
  stretch
);

// For each item
@each $value in $align-items {
  .align-items-#{$value} {
    align-items: #{$value};
  }
}

// For each breakpoint
@each $breakpoint, $size in a.$breakpoints {
  @include a.breakpoint($breakpoint) {
    @each $value in $align-items {
      .bp-#{$breakpoint}:align-items-#{$value} {
        align-items: #{$value};
      }
    }
  }
}

//Generate z-index classes
$z-index: (
  base: 0,
  dropdown: 10,
  menu: 50,
  overlay: 100,
  modal: 1000,
  toast: 9999,
);

// For each item
@each $name, $value in $z-index {
  .z-#{$name} {
    z-index: #{$value};
  }
}

// For each breakpoint
@each $breakpoint, $size in a.$breakpoints {
  @include a.breakpoint($breakpoint) {
    @each $name, $value in $z-index {
      .bp-#{$breakpoint}:z-#{$name} {
        z-index: #{$value};
      }
    }
  }
}

// Text classes
$text-alignment: (
  center,
  left,
  right,
  end,
  justify,
  start

);

@each $name in $text-alignment {
  .text-#{$name} {
    text-align: #{$name};
  }
}


.h-100 {
  height: 100%;
}

.w-100 {
  width: 100%;
}

.paragraph-width {
  max-width: 60ch;
}