$overflow: (
  auto,
  hidden,
  visible,
  scroll
);

@each $value in $overflow {
  .overflow-#{$value} {
    overflow: #{$value};
  }
  .overflow-x-#{$value} {
    overflow-x: #{$value};
  }
  .overflow-y-#{$value} {
    overflow-y: #{$value};
  }
}